body	{
	background-color: rgb(242, 241, 213);
}

article	{
	width: 90%;
	max-width: 700px;
	margin: 30px auto;
}

.cover	{

	max-width: 100%;
	height: auto;
	margin: 0 auto;
	background: url("../images/theCult.jpg");
	height: 300px;
	background-size: cover;
	background-position: center center;
	border: 7px solid gray;
	border-radius: 3px;
}

.post-content	{
	width: 70%;
	height: auto;
	padding: 5px 30px 40px 30px;
	margin: 0 auto;
	border: 1px solid gray;
	border-radius: 5px 5px 0 0;
	position: relative;
	top: -30px;
	background-color: whitesmoke;
}

img	{
	border-radius: 50%;
}

.avatar	{
	float: right;
}

a 	{
	text-decoration: none;
	color: rgb(237, 96, 45);
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

p {
	font-family: 'Lato', sans-serif;
}

.post-content h1 a	{
	font-style: italic;
	color: rgb(31, 28, 89);
}


@media screen and (max-width: 480px)	{
	.cover	{
		display: none;
	}

	.post-content	{
		margin: 100px auto 20px;
		background-color: black;
		color: white;
	}

	.post-content h1 a {
		color: red;
	}
	
}